# React ignores
/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python ignores
venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyd

# Flask & AI training
instance/
*.sqlite3
*.db
*.h5
*.ckpt
*.pth
*.pt
*.log
*.model

# Jupyter Notebook (if used)
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Optional if you store datasets or models locally
data/
models/
outputs/

**/serviceAccountKey.json

