.container {
    background-color: #f8f5ef;
    width: 100%;
    min-height: 100vh;
  }
  
  .main {
    padding: 40px;
    padding-left: 50px;
  }
  
  .title {
    color: #049bb9;
    margin-bottom: 40px;
    font-family:
      Abhaya Libre,
      serif;
    font-size: 45px;
    font-weight: 700;
  }
  
  @media (width <= 640px) {
    .title {
      text-align: center;
      font-size: 40px;
    }
  }
  