.table {
    background-color: #fff;
    border: 1px solid #000;
    width: 1200px;
    margin: 0 auto;
  }
  
  @media (width <= 991px) {
    .table {
      width: 90%;
      overflow-x: auto;
    }
  }
  
  @media (width <= 640px) {
    .table {
      width: 100%;
    }
  }
  
  /* Table Header */
  .tableHeader {
    background-color: #05445e; 
    display: flex;
  }
  
  .headerCell {
    color: #fff;
    border: 0.5px solid #fff;
    padding: 13px 8px;
    font-family: NATS, sans-serif;
    font-size: 16px;
    flex: 1;
  }
  
  .headerCell:nth-child(1), .cell:nth-child(1) { /* No. column */
    flex: 0.3; /* Reduce size */
    min-width: 50px; /* Prevent from being too small */
}

.headerCell:nth-child(2), .cell:nth-child(2) { /* User ID column */
    flex: 0.8; /* Slightly smaller */
    min-width: 100px;
}

.headerCell:nth-child(3), .cell:nth-child(3) { /* Feedback column */
    flex: 3; /* Takes the remaining space */
}

/* Table Body */
  .tableRow {
    border-bottom: 0.5px solid #05445e;
    display: flex;
  }
  
  .tableRowAlt {
    border-bottom: 0.5px solid #05445e;
    display: flex;
    background-color: #f5f5f5;
  }
  
  .cell {
    color: #1d2433;
    border-right: 0.5px solid #05445e;
    padding: 10px 8px;
    font-family: NATS, sans-serif;
    font-size: 14px;
    flex: 1;
  }
  
  .cell:last-child {
    border-right: none;
  }
  
  .tableRow:last-child, .tableRowAlt:last-child {
    border-bottom: none;
}
